@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #CCC2DC;
  font-family: 'Open Sans', sans-serif;
}
.hero{
  width: 100%;
  min-height: 100vh;
  background-color: #F5F3FA;
}
nav{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 140px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
nav ul li a{
  text-decoration: none;
  color: #333;
  font-weight: 400;
}
nav ul li a:hover{
  color: #F5F3FA;
}
.setting-btn{
  text-decoration: none;
  color: #333;
  margin-right: 15px;
  font-weight: 400;
}
.setting-btn:hover{
  color: #F5F3FA;
}
.space1{
  height: 40px;
  background-color: #A08CD1;
}
.space2{
  height: 60px;
  background-color: #F5F3FA;
}
.space3{
  height: 40px;
  background-color: #A08CD1;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 600px){
    .setting-btn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #CCC2DC;
        top: 80px;
        left: -100px;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
      display: block;
    }
    nav ul li a{
      font-size: 20px;
    }

}
