* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    padding: 30px 0;
}
.login {
    background: #ccc2dc;
    border: 3px solid #896fca;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    text-align: center;
    font-family: 'Lora', serif;
    background-color: #ccc2dc;
    margin: auto;
}

.h1 {
    color: #000000;
}

.input-box {
    margin: 10px 0;
    text-align: left;
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 3px solid #896fca;
    border-radius: 20px;
    outline: none;
    font-size: 15px;
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 9px;
    color: #000000;
}

.remember-forget {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-forget label {
    display: flex;
    align-items: center;
}

.btn {
    width: 100%;
    padding: 10px;
    border: 3px solid #896fca;
    border-radius: 20px;
    outline: none;
    font-size: 20px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.signup-link {
    margin-top: 10px;
    text-align: center;
}

.signup-link a {
    color: rgb(148, 148, 226);
    text-decoration: none;
}


@media (max-width: 900px) {
    .container {
        padding: 20px;
    }
    .btn {
        font-size: 18px;
    }
}
@media (min-width: 1000px) {
    .container {
        max-width: 800px;
        padding: 30px;
    }
    .btn {
        font-size: 30px;
    }
}

/*dark and light mode*/
.dark-mode .container-fluid{
    background-color: #242833;
}
