.table{
    width: 75%;
    background: #ccc2dc;
}
.message-box{
    min-height: 100px;
    position: relative;
}
.message-box textarea{
    position: absolute;
    height: 100%;
    width: 100%;
    resize: none;
    background: #ccc2dc;
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;
}
