*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lora', serif;
    background: url(images/bg.jpg) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #ab9477;
    border: 3px solid #876e56;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    text-align: center;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
}

.h1 {
    margin: 0 0 20px;
    color: #000000;
}

.input-group {
    margin: 10px 5px;
    text-align: left;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 3px solid  #876e56;
    border-radius: 20px;
    outline: none;
    background: fixed;
    font-size: 15px;
}
.btn{
    margin: 10px 5px;
    text-align: left;
    position: relative;
    width: 100%;
    padding: 10px;
    border: 3px solid  #876e56;
    border-radius: 20px;
    outline: none;
    background: fixed;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

.index-link {
    margin-top: 10px;
    text-align: center;
}

.index-link a {
    color: #4e7bac;
    text-decoration: none;
}