* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc2dc;
    transition: background-color 0.3s;
}
.content1 {
    padding: 10px 30px;
    background-color: #a08cd1;
    text-align: center;
}

h2 {
    text-align: center;
}

.book-img {
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.read-btn {
    padding: 5px;
    background-color:  #8371b1;
    color: black;
    border: 1px solid #f5f3fa;
    border-radius: 15px;
    cursor: pointer;
    display: block; 
    margin: 0 auto;
}

.read-btn:hover {
    background-color: #7966a8;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.card {
    flex: 0 0 calc(30% - 20px); 
    margin: 10px;
    padding: 15px;
    background-color: #a08cd1;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.icon {
    margin: 10px 0;
}

.icon i {
    color: #f0c700;
}

.useful {
    padding-bottom: 20px;
    text-align: center;
}

.yes-btn {
    border: 1px solid rgb(15, 15, 15);
    border-radius: 50%;
    text-decoration: none;
    padding: 10px;
    display: inline-block; 
}
.book-h2{
    padding-top: 10px;
}
@media screen and (max-width: 640px) {
    .card {
        flex: 0 0 calc(45% - 20px);
    }

    .yes-btn {
        font-size: 14px; 
    }
}
@media screen and (max-width: 768px) {
    .card {
        flex: 0 0 calc(45% - 20px); 
    }

    .yes-btn {
        font-size: 14px; 
    }
}
@media screen and (max-width: 1024px) {
    .card {
        flex: 0 0 calc(45% - 20px); 
    }

    .yes-btn {
        font-size: 14px; 
    }
}
@media screen and (max-width: 1280px) {
    .card {
        flex: 0 0 calc(45% - 20px); 
    }

    .yes-btn {
        font-size: 14px; 
    }
}


/*dark and light mode*/
.dark-mode body{
    background-color: #242833;
    color: #f5f3fa;
}
.dark-mode .content1{
    background-color: #242833;
    color: #f5f3fa;
}
.dark-mode .read-btn{
    background-color: #ccc2dc;
}
.dark-mode .read-btn:hover{
    background-color: #a08cd1;
}
.dark-mode .card{
    background-color: #825ea6;
    color: #f5f3fa;
}
.dark-mode .book-h2{
    background-color: #242833;
    color: #f5f3fa;
}
.dark-mode .row{
    background-color: #242833;
    color: #f5f3fa;
}
.dark-mode .useful{
    background-color: #242833;
    color: #f5f3fa;
}
.dark-mode .yes-btn{
    color: #f5f3fa;
}
.dark-mode .yes-btn:hover{
    color: #ccc2dc;
}